<h3><%= @user.email %></h3>

<% if user_signed_in? && current_user != @user %>
  <% if current_user.active_relationships.exists?(target_user_id: @user.id)%>
    <%= link_to "フォロー中", [@user, :follow], method: :delete %>
  <% else %>
    <%= link_to "フォローする", [@user, :follow], method: :post %>
  <% end %>
<% end %>

<% @user.photos.each do |photo| %>
  <div>
    <p><%= photo.caption %></p>
    <%= image_tag photo.image, :size => '300x300' %>
  </div>
<% end %>