<h3 class="title"><%= @user.email %></h3>

<% if user_signed_in? && current_user != @user %>
  <% if current_user.active_relationships.exists?(target_user_id: @user.id)%>
    <%= link_to "フォロー中", [@user, :follow], method: :delete %>
  <% else %>
    <%= link_to "フォローする", [@user, :follow], method: :post %>
  <% end %>
<% end %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to 'フォロー', [@user, :followings] %>
    </li>
    <li>
      <%= link_to 'フォロワー', [@user, :followers] %>
    </li>
    <li>
      <%= link_to 'お気に入り', [@user, :favorites] %>
    </li>
  </ul>
</div>

<div class="columns is-multiline">
  <% @user.photos.each do |photo| %>
    <div class="column is-one-third"> 
      <div class="card mb-4">
        <div class="card-content">
          <div class="has-text-centered">
            <% if photo.caption.empty? %>
              <p>[タイトルなし]</p>
            <% else %>
              <%= photo.caption %>
            <% end %>
          </div>
        </div>
        <div class="card-image">
          <div class="image is-square">
            <%= link_to [photo] do%>
              <%= image_tag photo.image %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>