<div>
  <div>
    <%= link_to @photo.user.email, [@photo.user] %>
  </div>
  <div>
    <%= @photo.caption %>
  </div>
  <div>
    <%= image_tag @photo.image, :size => '300x300' %>
  </div>
</div>


<% if user_signed_in? %>
  <hr>
  <% if current_user.favorites.exists?(photo_id: @photo.id) %>
    <%= link_to 'お気に入り解除', [@photo, :favorite], method: :delete %>
  <% else %>
    <%= link_to 'お気に入り登録', [@photo, :favorite], method: :post %>
  <% end %>

  <%= form_with model: [@photo, @comment], local: true do |f| %>
    <div>
      <p>この投稿にコメントしましょう</p>
      <%= f.text_field :body %>
    </div>
    <%= f.submit %>
  <% end %>
  <hr>
<% else %>
  <hr>
  <p>ログインして、この投稿にコメントしましょう</p>
  <%= link_to 'ログイン', new_user_session_path %>
  <hr>
<% end %>


<% @photo.comments.each do |comment| %>
  <div>
    <%= link_to comment.user.email, [comment.user] %>
  </div>
  <div>
    <%= comment.body %>
  </div>
  <% if comment.user == current_user %>
    <div>
      <%= link_to 'コメント削除', [@photo, comment], method: :delete %>
    </div>
  <% end %>
  <hr>
<% end %>